{% extends 'admin/templates/app.twig' %}

{% block content %}
  <section class="authrecover">
    <div class="authrecover-container">
      <a href="https://studioatual.com" class="authrecover-container-logotipo">
        <img src="{{ base_url() }}/img/studioatual.svg" height="30" alt="Studio Atual"/>
      </a>
      <form action="{{ path_for('admin.change.password') }}" method="post" autocomplete="off" class="authrecover-container-form">
        <h2 class="authrecover-container-form-title">ALTERAÇÃO DA SENHA</h2>
        <p class="authrecover-container-form-text">Preencha os campos abaixo para alterar sua senha</p>
        <hr class="authrecover-container-form-line" />
        {% include 'admin/templates/messages.twig' %}
        <div class="authrecover-container-form-group{{ errors.password ? ' has-error' : '' }}">
          <label for="password">Nova Senha</label>
          <input type="password" name="password" value="" />
          {% if errors.password %}
            <div class="help-block">{{ errors.password | first }}</div>
          {% endif %}
        </div>
        <div class="authrecover-container-form-group{{ errors.password_confirm ? ' has-error' : '' }}">
          <label for="password_confirm">Confirmar Nova Senha</label>
          <input type="password" name="password_confirm" value="" />
          {% if errors.password_confirm %}
            <div class="help-block">{{ errors.password_confirm | first }}</div>
          {% endif %}
        </div>
        {{ csrf | raw }}
        <div class="authrecover-container-form-group">
          <button type="submit">Alterar Senha</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
