<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ config.analytics }}');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% if title %}{{ title }}{% else %}{{ config.title }}{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}" />
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}" />
    <meta name="author" content="{{ config.company }}" />
    <meta name="robots" content="index,follow,all">
    <meta name="rating" content="general">
    <meta name="revisit-after" content="1 days">
    <meta property="og:site_name" content="{{ config.company }}" />
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ config.title }}{% endif %}" />
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}" />
    <meta property="og:image" content="{{ base_url() }}/{{ image }}" />
    <link rel="image_src" href="{{ base_url() }}/img/logotipo.png"/>
    <meta property="og:url" content="{{ base_url() }}" />
    <link rel="shortcut icon" href="{{ base_url() }}/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
</head>
<body>
